@charset "utf-8";
body.zingtree {
	margin: 0 !important;
}

/******************************************************
	BODY TEXT COLOR
******************************************************/


body	{
	color: #1d1d1d;
    font-size: 18px;
}

/******************************************************
	LINK COLOR
******************************************************/
.content-question a, .content-answer a {
  color: #4f6a92 !important;
  font-weight:700;
  text-decoration:none;
}

.content-question a:hover,
.content-question a:focus, 
.content-answer a:hover,
.content-answer a:focus 
{
	text-decoration:underline;
}

.content-answer .btn,  .content-question .btn {
    color:#ffffff;
}

/******************************************************
	TITLE COLOR
******************************************************/
h3 {
	color: #627cff;
}

.node-question-text  {
	color: #627cff !important;
	font-weight: bold;
}
/******************************************************
	BUTTON VALUES
******************************************************/

.btn-zingtree {
	border: 0 none;
	font-weight: 700;
    border-radius: 28px;
}
.btn-zingtree:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

/******************************************************
	PRIMARY BUTTON
******************************************************/

.btn-zingtree {
  color: #ffffff;
  background-color: #627cff;
}
.btn-zingtree:hover, .btn-zingtree:focus, .btn-zingtree:active, .btn-zingtree.active, .open > .dropdown-toggle.btn-zingtree {
	background: #627cff;
	opacity: 0.85;
}
.btn-zingtree:active, .btn-primary.active {
	background: #627cff;
	box-shadow: none;
}

/******************************************************
	PERSISTENT BUTTONS
******************************************************/
.persistent-buttons .btn-default {
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #627cff;
}

.persistent-buttons .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ffffff;
  	border-color: #627cff;
}

.persistent-buttons .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}

/******************************************************
	PANELS
******************************************************/
/* COLORS for Panels */

.panel-primary > .panel-heading {
	background-color: #ffffff;
}
.answers a.list-group-item {
	background-color: #f8f8f8;
	color: #1d1d1d;
}
.answers a.list-group-item div {
	color: #1d1d1d;
}
.answers a.list-group-item:hover, .answers a.list-group-item:active {
	background-color: #ffffff !important;
}

.list-group-item-question, .answers a.list-group-item strong {
	background-color: #afafaf;
}
.list-group-item-question, .answers a.list-group-item strong::before {
	background-color: #4f6a92;
}
.answers a.list-group-item::after {
	border-color: #4f6a92;
}
.well {
    background-color: #c6cddf57;
    border: none;
    box-shadow: 0px 2px 13px 5px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0px 2px 13px 5px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 2px 13px 5px rgba(0,0,0,0.07);
}
/* PANELS */

.panel, .panel-heading {
    border-style: none;
      box-shadow: 0px 2px 13px 5px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0px 2px 13px 5px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 2px 13px 5px rgba(0,0,0,0.07);
}
.panels-node-title {
	padding: 0.5em 3.4em 0.5em 1em;
	position: relative;
}
/* fix for link icon */
#node-title > .pull-right {
	position: absolute;
	top: 1em;
	right: 1em;
}
.permalink {
	margin-top: -9px;
	margin-right: -7px;
}
/* panels design */
.panel > .list-group .list-group-item {
	border: none;
	margin-bottom: 3px;
	padding: 0.5em 3.5em 0.5em 1.5em;
	-webkit-transition: background 200ms ease-in-out;
	transition: background 200ms ease-in-out;
    border-radius: 40px;
}
/* question */

.panel > .list-group .list-group-item.list-group-item-question {
	padding: 0.5em 3.5em;
    border-radius: 0;
}
.list-group-item-question h4, .panels-node-title h3 {
	font-size: 1.3em;
	margin: .1em 0 .1em 1em;
    color: #FFFFFF ;   
    
}

.list-group-item-question .fa, .panels-node-title h3::before {
	position: absolute;
	left: .75em;
	top: 50%;
	margin-top: -.75em;
	font-size: 1.1em;
	border-radius: 100em;
	width: 1.6em;
	height: 1.6em;
	text-align: center;
	line-height: 1.5;
    
}

.list-group-item-question .fa::before {
	content: '\f059';
    font-family: 'FontAwesome';
    padding-right: 5px;
}
ul#qa-area {
    background-color: #627cff;
    padding-top: 12px;
    padding-bottom: 16px;
}

/* node title */
.panels-node-title {
	padding-left: 3.5em;
}
.panels-node-title h3::before {
	content: '\f138';
    font-family: 'FontAwesome';
    padding-right: 5px;
}
	
.panels-node-title h3 {
	display: inline-block;
	vertical-align: text-top;
	font-family: "Open Sans", sans-serif;
    color: #627cff;
	font-weight: 600;
}
.panel-heading.panels-node-title {
    background-color: #ffffff !important;
}

/*question-panels*/
li.list-group-item.list-group-item-question {
    background-color: #627cff;
}
/* answers */
.answers a.list-group-item {
	font-size: 1.10em;
	font-weight: 600;
	overflow: hidden;
    margin: 2%;
}
.answers a.list-group-item div {
	margin-left: 0.34em;
	font-size: 0.8em;
}
.answers a.list-group-item strong {
	display: none;
}
.list-group-item:last-child {
    margin-bottom: 2% !important;
}

/* arrows */
.answers a.list-group-item::after {
	content: '\f054';
    font-family: 'FontAwesome';
    color: #4f6a92;
    position: absolute;
    right: 1.8em;
    bottom: 0;
    top: 0.6em;
    margin: auto;
    -webkit-transition: right 180ms ease-in 80ms, opacity 160ms ease-out;
    transition: right 180ms ease-in 80ms, opacity 160ms ease-out;
    opacity: 0;
}
.answers a.list-group-item:hover::after {
	right: 1.5em;
	opacity: 1;
}
.panel-body {
	padding: 1.5em;
}
.permalink {
	margin-top: -28px;
	margin-right: -7px;
}


/* animation */

@-webkit-keyframes arrow-move {
     0% {
     opacity: 0;
     right: 0.8em;
    }
    80% {
     opacity: 1;
     right:0.5em;
    }
     100% {
     opacity: 0;
    }
}
 @keyframes arrow-move {
     0% {
     opacity: 0;
     right: 0.8em;
    }
     80% {
     opacity: 1;
     right: 0.5em;
    }
     100% {
     opacity: 0;
    }
}

/* MEDIA */

@media(max-width:768px) {
    #nodes {
        font-size: .82em;
    }
    #node-content {
        font-size: 1.34em;
    }
}

@media (max-width:767px) {
    .button-node .answers [class*=col-sm-] {
        width: 50%;
    }
}

@media (max-width:400px) {
    .button-node .answers [class*=col-sm-], .button-node .answers .col-md-offset-3.col-md-6 a {
        width: 100%;
    }
}
